/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/


* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }

 .App {
   flex: 1
 } 

/* Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/ 

section {
  padding: 0px 20px 40px 20px;
}

h1 {
  font-size: 50px;
  padding: 10px;
  padding-top: 40px;
  margin: 0;
  text-decoration-line: overline;
}


.login-component {
  background-image: url('/images/vacations-list.jpg');  
  background-position: center center;
  background-repeat: repeat;
  background-attachment: scroll;
  /* padding-top: 40px; */
  /* padding-bottom: 80px; */
  padding-bottom: 0px;
  padding-top: 39px;
  margin-top: 0;
  text-align: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  /* min-height: 100vh; */
}

.login-div {
  padding-bottom: 20px;
  margin-top: 70px;
}

.login-input {
  padding: 5px;
  margin: 5px 0 12px 0; 
  width: 240px;
}

.title {
  text-align: center;
}


.register-link {
color: rgb(32, 32, 32);
}

.register-link:hover {
  color: rgb(202, 5, 5);
}
  
.subtitle {
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
  font-size: 29px;
}

.login-form {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 7px;
}

.form-wrapper {
  padding-left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: baseline;
}

.form-div {
  text-align: center;
}

.form-div-reg {
  text-align: center;
  padding-bottom: 55px;
}

label {
  text-align: left;
  padding: 2px;
  color: rgb(32, 32, 32);
}

input {
  padding: 5px;
  margin: 5px 10px 12px 0; 
  width: 240px;
}

.register-form {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
}

button {
  padding: 8px;
  background-color: rgb(32, 32, 32);
  text-decoration: none;
  border: none;
  color: #fff;
  margin: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

button:hover {
background-color: rgb(202, 5, 5);
}

.presentation{
 padding-bottom: 40px;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
}

.nav-link {
margin: 10px;
}

li {
  text-decoration: none; 
  display: inline-flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  color:  #fff;
  text-decoration: underline;
}

a :hover {
  color: rgb(202, 5, 5);
}


li a:hover {
  color:rgb(202, 5, 5);
}

li a {
  padding: 8px;
  text-decoration: none;  
  color: #fff;  
  text-align: center;  
}
 
.homepage-h2 {
  text-align: center;
}

h2 {
  text-decoration-line: overline;
}

img {
  width: 300px;
  height: 260px;
  float: right;
  padding: 20px;

}

p.lorem {
    clear: left;

}

#search-term {
  width: 30%;
}


select {
  margin: 10px;
}

textarea {
  height : 150px;
  width: 276px;
}

#comment-submit-button {
  margin-left: 0;
}

.favorite {
  padding: 8px;
  text-align: center;  
}

.no-display-bug {
  display: none;
}


.checklist-container {
  padding-left: 0;
}

.checklist-item {
text-align: left;
margin-left: 0;
padding-bottom: 20px;
text-decoration: none;
color: rgb(32, 32, 32);
}

.checklist-input {
  text-align: left;
  margin-left: 0;
  width: auto;
  margin: 10px;
  cursor: pointer;
  }
  
.card-header-title{
font-size: 19px;
}

.my-notes {
color: rgb(32, 32, 32);
text-decoration: none;
margin-left: 0;
padding-left: 10px;

}

.delete {
  background-color: #fff;
  color: rgb(32, 32, 32);
  padding-right: 5px;
  font-weight: 900;
  cursor: pointer;
  margin: 0;
}

.delete:hover {
  color: rgb(202, 5, 5);
  background-color: #fff;
}


.web-resources{
  color: rgb(32, 32, 32);
  }
  
.web-resources:hover {
  color: rgb(202, 5, 5);
  }

.reactplayer {
  margin-top: 40px;
}
  
.reactplayer:hover {
  box-shadow: 2px 2px 5px rgb(202, 5, 5);;
}
/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/
.footer {
  text-align: center;
  line-height: 5px;
  color:  #fff;
  background-color: rgb(32, 32, 32);
}


@media only screen and (min-width: 480px) {

  .nav-link {
    margin: 10px 20px 10px 20px;
  }
  
}

@media only screen and (min-width: 640px) {
  .nav-link {
    margin: 10px 30px 10px 30px;
    }

    section {
      padding: 20px 20px 40px 20px;
    }
    
}


@media only screen and (min-width: 768px) {
  .nav-link {
    margin: 10px 55px 10px 55px;
    }
  
    section {
      padding: 20px 20px 40px 20px;
    }

}

@media only screen and (min-width: 1000px) {
  .nav-link {
    margin: 10px 60px 10px 60px;
    }

    section {
      padding: 20px 20px 40px 20px;
    }

}
